<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Logging Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand='block' (click)="log(0)">Log Debug</ion-button>
  <ion-button expand='block' (click)="log(1)">Log Info</ion-button>
  <ion-button expand='block' (click)="log(2)">Log</ion-button>
  <ion-button expand='block' (click)="log(3)">Log Warning</ion-button>
  <ion-button expand='block' (click)="log(4)">Log Error</ion-button>
</ion-content>
